---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <!-- Breadcrumbs & Page Title Start -->
  <div class="breadcrumbs-title white-bg pt-90 pb-80">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="breadcrumbs-menu">
            <h2>Contacto</h2>
            <ul class="clearfix">
              <li><a href="/">Home</a><span>|</span></li>
              <li>Contacto</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs & Page Title End -->
  <!-- Contact Section Start -->
  <div class="contact-area style2 white-bg pt-30 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 text-center mobi-mb-50">
          <div class="info-box overlay dark-3 boxbg-1 mb-30">
            <div class="d-table relative">
              <div class="d-table-cell">
                <h4 class="text-uppercase">Dirección de contacto</h4>
                <span class="v-shape white"></span>
                <p>Calle Clara Campoamor 27. <br /> Galapagar. Madrid 18420</p>
              </div>
            </div>
          </div>
          <!-- Info Box End -->
        </div>
        <div class="col-xs-12 col-sm-4 text-center mobi-mb-50">
          <div class="info-box overlay dark-3 boxbg-2 mb-30">
            <div class="d-table relative">
              <div class="d-table-cell">
                <h4 class="text-uppercase">Teléfono</h4>
                <span class="v-shape white"></span>
                <p><a href="tel:+34747412444">+34747412444</a></p>
              </div>
            </div>
          </div>
          <!-- Info Box End -->
        </div>
        <div class="col-xs-12 col-sm-4 text-center mobi-mb-50">
          <div class="info-box overlay dark-3 boxbg-3">
            <div class="d-table relative">
              <div class="d-table-cell">
                <h4 class="text-uppercase">Email</h4>
                <span class="v-shape white"></span>
                <p>
                  <a href="mailto:contacto@leochigne.com"
                    >contacto@leochigne.com</a
                  >
                </p>
              </div>
            </div>
          </div>
          <!-- Info Box End -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div>
            <!-- Google Map -->
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3034.121734618602!2d-3.873001623594815!3d40.49469105089023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd41837959701d57%3A0x5403cbfb78636d67!2sBo.%20de%20la%20Suiza%2C%209%2C%20Bajo%20F%2C%2028231%20Las%20Rozas%20de%20Madrid%2C%20Madrid%2C%20Espa%C3%B1a!5e0!3m2!1ses!2spe!4v1721879064144!5m2!1ses!2spe"
              width="100%"
              height="400"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
            <!-- Google Map End -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact Section End -->
</Layout>
