---
import Layout from "../layouts/Layout.astro";
import SobreMi1 from "@/assets/LeoAboutMe.png";
import Software from "@/assets/Software.png";
---

<Layout title="Sobre mi">
  <!-- Slider Section Start -->
  <div class="slider-area slider-one bb-1 black-bg">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="slider-caption pt-140 pb-155">
            <h1>
              Hola soy <br /> Leonardo Chigne
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Slider Section End -->
  <!-- Hero Block Section Start -->
  <div class="hero-block style1 section-ptb">
    <div class="container">
      <div class="row vertical-align-about">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="hero-img">
            <div class="text-center">
              <img height="400" src={SobreMi1.src} alt="Sobre Mi" />
            </div>
            <div>
              <img class="img-responsive" src={Software.src} alt="Software" />
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-6">
          <div class="hero-text mt-20">
            <h2 class="mb-25">Sobre mi</h2>
            <h5 class="mb-10">
              Mi nombre es Leonardo Chigne, soy de Caracas, Venezuela, y
              actualmente me encuentro estudiando la maestría en Diseño Gráfico
              en la Universidad de Diseño y Tecnología de Madrid.
            </h5>
            <p class="mb-2">
              Desde una edad temprana, he sentido una fascinación por el mundo
              del diseño gráfico y la animación. Con la explosión de las redes
              sociales, decidí especializarme en Marketing Digital, reconociendo
              en este campo una oportunidad de crecimiento y desarrollo
              profesional.
            </p>
            <p class="mb-2">
              En la actualidad, me encuentro en Madrid, cursando la Maestría en
              Diseño Gráfico en la UDIT, con el objetivo de ampliar mis
              conocimientos en diseño gráfico, branding, packaging y editorial.
            </p>
            <p class="mb-2">
              Mi trayectoria incluye una sólida experiencia en proyectos de
              animación. Desde 2021, he trabajo de manera freelance a través de
              la <a
                class="link-about"
                href="https://www.upwork.com/freelancers/~01b991c824881741b8"
                target="_blank">plataforma Upwork</a
              > para empresas de diversas partes del mundo. He colaborado con marcas
              reconocida como Nasdaq, Unilever, Virtual Versions, entre otras. Además,
              formé parte del equipo creativo de Rally on Media, una agencia con
              sede en Nueva York, especializada en campañas de recaudación para startups.
            </p>
            <p class="mb-2">
              Cuento con dominio de programas como Adobe Photoshop, Illustrator,
              InDesign, Premiere Pro, After Effects y Figma.
            </p>
            <a
              class="btn theme-btn mt-25"
              href="https://drive.google.com/file/d/1Tiyr97rEzEJl5G5COp_vQAbu_gqEdSgz/view"
              target="_blank">Descarga mi CV</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Block Section End -->
</Layout>
