---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre mi">
  <!-- Slider Section Start -->
  <div class="slider-area slider-one white-bg bb-1">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="slider-caption pt-140 pb-155">
            <h1>
              About Our <br /> Creative <span class="theme-color">Studio</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Slider Section End -->
  <!-- Hero Block Section Start -->
  <div class="hero-block style1 section-ptb">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="hero-img">
            <ul class="clearfix">
              <li><img src="assets/img/about/1.jpg" alt="About Image" /></li>
              <li><img src="assets/img/about/2.jpg" alt="About Image" /></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-6">
          <div class="hero-text mt-20">
            <h2 class="mb-25">
              About Our <span class="theme-color">Studio</span>
            </h2>
            <h5 class="mb-10">
              It uses a dictionary of over 200 Latin words, combined with <br />
              a handful of model sentence structures.
            </h5>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words which don't look
            </p>
            <a class="btn theme-btn mt-25" href="contact.html">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Block Section End -->
</Layout>
