---
import { Image } from "astro:assets";
import LogoFooter from "@/assets/logo-blanco.svg";
---

<!-- Footer Section Start -->
<footer>
  <div class="footer-widget-area drak-bg ptb-100">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-5 mobi-mb-30">
          <div class="footer-widget about">
            <div class="title mb-20">
              <a href="/">
                <Image height="80" src={LogoFooter} alt="Logo Leo Chigne" />
              </a>
            </div>
            <p>
              Soy Leonardo Chigne, Diseñador Gráfico y Motion Grapher de Caracas, Venezuela.
            </p>
          </div>
        </div>
        <!-- /.Widget end -->
        <div class="col-xs-12 col-sm-4 col-md-4 mobi-mb-30">
          <div class="footer-widget address">
            <div class="title mb-20">
              <h4>Contacto</h4>
            </div>
            <ul>
              <li>
                <span>Teléfono:</span>
                <a href="tel:+34747412444">+34747412444</a>
              </li>
              <li>
                <span>Email:</span>
                <a href="mailto:contacto@leochigne.com">contacto@leochigne.com</a>
              </li>
              <li class="mb-10">
                <span>Dirección:</span> Calle Clara Campoamor 27.
                <br /> Galapagar. Madrid 18420
              </li>
            </ul>
          </div>
        </div>
        <!-- /.Widget end -->
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="footer-widget social-media">
            <div class="title mb-20">
              <h4>Redes Sociales</h4>
            </div>
            <div class="social-link">
              <ul class="clearfix d-inblock">
                <li>
                  <a href="https://behance.com/leochigne" target="_blank"
                    ><i class="zmdi zmdi-behance"></i> Behance</a
                  >
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/leonardo-chigne" target="_blank"
                    ><i class="zmdi zmdi-linkedin"></i> LinkedIn</a
                  >
                </li>
                <li>
                  <a href="https://facebook.com/leochigne" target="_blank"
                    ><i class="zmdi zmdi-facebook"></i> Facebook</a
                  >
                </li>
                <li>
                  <a href="https://twitter.com/leochigne" target="_blank"
                    ><i class="zmdi zmdi-twitter"></i> Twitter</a
                  >
                </li>
                <li>
                  <a
                    href="https://api.whatsapp.com/send?phone=+34747412444&text=M%C3%A1s%20informaci%C3%B3n%20acerca%20de%20tus%20servicios"
                    target="_blank"
                    ><i class="zmdi zmdi-whatsapp"></i> WhatsApp</a
                  >
                </li>
              </ul>
            </div>
            <!-- Change your social media link -->
          </div>
        </div>
        <!-- /.Widget end -->
      </div>
    </div>
  </div>
  <!-- /.Widget Area End -->
  <div class="copyright black-bg ptb-15">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="text">
            <p>
              <a
                href="#"
                target="_blank">leochigne.com</a
              >. Todos los derechos reservados.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
