---

---

<!-- Testimonial Section Start -->
<div class="testimonial-area white-bg pb-80 pt-30">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 col-md-10 col-text-center">
        <div class="testimonial-item style1">
          <div class="client-say">
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form,
            </p>
            <div class="title-box white-bg">
              <span class="v-shape"></span>
              <h4>Donna Arnold</h4>
              <p class="theme-color">Designer</p>
            </div>
          </div>
          <div class="client-say">
            <p>
              It has survived not only five centuries, but also the leap into
              electronic remaining essentially unchanged.
            </p>
            <div class="title-box white-bg">
              <span class="v-shape"></span>
              <h4>Judy King</h4>
              <p class="theme-color">Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial Section End -->
